<!doctype html>
<html>
	<head>
		<meta charset="utf8">
		<title>dimkonko's blog</title>

		<link rel="stylesheet" type="text/css" href="static/css/blog.css">
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div id="banner"><a href="#">dimknko's blog</a></div>
				<div id="top_menu">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contacts</a></li>
					</ul>
				</div>
			</div>
			<!-- End of header -->

			<!-- Start of main -->
			<div id="main">
				<div class="post">
					<div class="post_title">						
						<div class="post_title_text">Amazing Post Title!!!</div>
						<div class="post_date">Thu. 27.10.1995</div>
					</div>
					<div class="post_descr">ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
					<div class="post_border_bottom"></div>
				</div>
			</div>
			<!-- End of main -->
		</div>
		<!-- End of wrapper -->

		<div id="bg">
			<img src="static/img/bg.jpg" alt=""></img>
		</div>
	</body>
</html>