<!doctype html>
<html>
	<head>
		<meta charset="utf8">
		<title>dimkonko's blog</title>

		<link rel="stylesheet" type="text/css" href="static/css/blog.css">
		<link rel="stylesheet" type="text/css" href="static/css/modal.css">


		<script type="text/javascript" src="static/js/lib/modal.js"></script>
		<script type="text/javascript" src="static/js/main_page.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div id="banner"><a href="#">dimknko's blog</a></div>
				<div id="top_menu">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a id="open_modal_but">Add Post</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="#">Contacts</a></li>
					</ul>
				</div>
			</div>
			<!-- End of header -->

			<!-- Start of main -->
			<div id="main">
			    {% for post in posts_list %}
				<div class="post">
					<div class="post_title">
						<div class="post_title_text"><a href="{{ post[3] }}">{{ post[1] }}</a></div>
						<div class="post_date">{{ post[4] }}</div>
					</div>
					<div class="post_descr">{{ post[2] }}</div>
					<div class="post_read_more"><a href="{{ post[3] }}">Read more</a></div>
					<div class="post_border_bottom"></div>
				</div>
				{% endfor %}
			</div>
			<!-- End of main -->
		</div>
		<!-- End of wrapper -->

		<div id="main_modal" class="modal_div">
			<form method="POST" action="">
					Title:
					<br><input type="text" name="title" class="field" />
					<br>Description:
					<br><textarea type="text" name="descr" class="field"></textarea>
					<br>Template name:
					<br><input type="text" name="link" class="field"/>
					<br><button type="submit">Add</button>
				</form>
		</div>

		<div id="bg">
			<img src="static/img/bg.jpg" alt=""></img>
		</div>
	</body>
</html>